# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.xreport
*.ngc
*.log
*.tcl
*.ncf
*.projectmgr
*.cmd
*.xmsgs
*.cat
*.xrpt
*.blc
*.prj
*.xwbt
*.opt
*.xpsupb
*.xpssyn
*.xpssim
*.xsl
*.html
*.png
*.bmp
*.jpg
MinSysEmbedProc/XpsGuiSessionLock
*.svg
*.mif
*.pao
*.mui
MinSysEmbedProc/pn_processor_info
MinSysEmbedProc/pn_processor_list
*.pdf
*.css
*.lst
*.dtd
MinSysEmbedProc/etc/fast_runtime.opt.virtex5
*.virtex5
*.old
*.ut
*.bak
*.filters
ESP2_0.gise
*.xml
*.bit
*.srp
*.lso
*.scr
*.xdc
*.bgn
*.bld
*.cmd_log
*.drc
*.ncd
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xpi
*.xst
*.ncd
*.ncd
*.ncd
*.map
*.ncd
*.mrp
*.ngm
*.txt
*.csv
*.vho
*.ref
*.xbcd
*.ncd
MinSysEmbedProc_top_guide.ncd
*.ncd
*.ncd
MinSysEmbedProc_top_guide.ncd
